<app-menu></app-menu>
<h1 class="text-center">Cadastro de Categorias</h1>
<div class="container">
    <label>Nome:</label>
    <input type="text" [(ngModel)]="category.name" class="form form-control">
    <br>
    <button (click)="submit(category,modal)" class="btn btn-primary">Salvar</button>
    <br>
    <br>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cat of categories">
                <td>{{cat.id}}</td>
                <td>{{cat.name}}</td>
                <td>
                    <button class="btn btn-primary" (click)="updateBtn(cat, contentUpdate)">Alterar</button>
                </td>
                <td>
                    <button class="btn btn-danger" (click)="deleteBtn(cat,modal)">Excluir</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #modal let-close="close">

    <div class="modal-dialog">
        <h4 class="modal-title">
            {{modalContent.title}}
        </h4>
        <div class="modal-body">
            <p>
                {{modalContent.body}}
            </p>
        </div>
        <button type="button" data-dismiss="modal" (click)="close()" class="btn btn-default">Continuar</button>
    </div>
</ng-template>

<ng-template #contentUpdate let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h1>Edição</h1>
    </div>
    <div class="modal-body">
        <label for="name">Nome:</label>
        <input type="text" class="form-control" id="name" placeholder="Entre com o nome" [(ngModel)]="categoryUpdate.name" name="name">
        <br>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        </button>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="c('Close click');update(modal);">Salvar</button>
    </div>
</ng-template>