<app-user-menu></app-user-menu>

<div class="container">
    <div class="card-deck">
        <div class="card" *ngFor="let product of products">
            <img class="card-img-top" src="{{photoURL}}{{product.photo}}" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">{{product.name}}</h4>
                <p class="card-text">{{product.description}}</p>
            </div>
            <div class="card-footer">
                <a *ngIf="!product.selected" (click)="add(product, modal)" class="btn btn-primary">Adicionar no carrinho</a>
                <a *ngIf="product.selected" class="btn btn-primary disabled">Adicionar no carrinho</a>
            </div>
            <div class="card-footer">
                <a *ngIf="product.selected" (click)="remove(product, modal)" class="btn btn-primary">Remover do carrinho</a>
                <a *ngIf="!product.selected" class="btn btn-primary disabled">Remover do carrinho</a>
            </div>
        </div>
    </div>
</div>

<ng-template #modal let-close="close">

    <div class="modal-dialog">
        <h4 class="modal-title">
            {{modalContent.title}}
        </h4>
        <div class="modal-body">
            <p>
                {{modalContent.body}}
            </p>
        </div>
        <button type="button" data-dismiss="modal" (click)="close()" class="btn btn-default">Continuar</button>
    </div>
    
</ng-template>