<app-user-menu></app-user-menu>
<div class="container">
<table class="table table-striped">
    <thead>
      <tr>
        <th>Index</th>
        <th>Foto</th>
        <th>Nome</th>
        <th>Categoria</th>
        <th>Excluir</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of productsCar;let idx=index">
        <td>{{idx + 1}}</td>
        <td><input type="image" src="{{photoURL}}{{product.photo}}" style="width: 80px;height: 80px"></td>
        <td>{{product.name}}</td>
        <td>{{product.category?.name}}</td>
        <td><button class="btn btn-danger" (click)="remove(product,content)">Excluir</button></td>
      </tr>
    </tbody>
  </table>
</div>